<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      body {
        font-family: "trebuchet ms", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
        background-color: #bccad9;
        background-image: url(/static/images/bg.png);
      }
      p {
        font-size: 16px;
        color: #232323;
        text-shadow: 0 1px 1px #fff;
        line-height: 2em;
        width: 600px;
      }
    </style>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6389050-3']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
